.BuyerName
{
    font-size: small;
    font-weight: bold;
    color:  #044256 ;
}

.BuyerComment{
    font-size: smaller;
    font-weight: bold;
    color:  #107ea3 ;
    margin-left: 20px;
}

.Price
{
    font-weight: bold;
    font-size: 14px;
    color: #C70039 ;
}

.ProdDescription
{
    font-weight: bold;
    font-size: 14px;
    color: #900C3F ;
}

.Seller{
    font-style: italic;
    font-size: 14px;
    color: #3c71a5;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ProductHeader{
    font-size: 16px;
    color: #0B0B61;
    font-weight: bold;


}
.Avaliable{
    font-size: 14px;
    color: #2E2E2E;
    font-style: italic;
}