.CategoryLink{
    margin-left: 10px;
    margin-bottom: 5px;
    height: 100px;
    width: 100%;
    color: #bdbebf;
    font-weight: bold;
    background-color: darkslateblue ;
    color: greenyellow;
    font-family: Arial;
    font-size: 18px;
}
.LeftPanel{
    width: 17%;
    float: left;
}
.RightPanel{
    background-color: cornsilk;
    float: right;
}

.BuyerName
{
    font-size: small;
    font-weight: bold;
    color: darkblue;
}
.BuyerComment{
    font-size: smaller;
    font-weight: bold;
    color: darkred;
    margin-left: 20px;
}

.Product {
    height: 400px;
    width: 250px;
    background-color: #10afab;
    float: right;
    margin: 0px 0px 10px 10px;
}

.Product .Strap {
    background-color: #f05423;
    width: 59px;
    height: 27px;
    position: relative;
    float: right;
    color: white;
    bottom: 180px;
}

.Product .ProductFooter {
    height: 72px;
    text-align: center;
    align-content: stretch;
}
