<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Order Details</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
    <style>
    .re{
    width:300px;
    }
    .max{
    	width:500px;
    }
    </style>
</head>

<body>

<input type="hidden" id="buyerId" name="buyerId" th:value="${buyerId}" />

<ul>
	<li><a href="#">SOKS</a></li>
	<li style="float:right"><a th:href="@{/contShopping}">Products</a></li>
	<li style="float:right"><a th:href="@{/buyerOrders(buyerId=${buyerId})}">Your Orders</a> </li>
	<li style="float: right"><a th:href="@{/shoppingCart(buyerId=${buyerId})}">Shopping Cart</a></li>
</ul>



<section>
    <div class="jumbotron">
        <div class="container">
            <h2>Your Orders</h2>
        </div>
    </div>
</section>

<section class="container">
	<div id="global">
	    <form action="#" th:action="@{/order}" method="post">
	    	<fieldset>
	    		<table th:each="placeOrder : ${placedOrders}" class="table table-bordered">
	    			<thead>
		    			<tr style="background-color:#DCDCDC" >
		    				<td>
			    				<table style="background-color:#DCDCDC" class="table table-borderless">
			    					<thead>
			    					<tr>
			    						<th th:text="#{placeOrder.form.orderDate}">Order Placed</th>
								      	<th th:text="#{placeOrder.form.totalPrice}">Total Price</th>
								      	<th th:text="#{placeOrder.form.shipTo}">Ship To</th>
								      	<th th:text="${placeOrder.orderNumber}">ORDER #</th>
			    					</tr>
			    					</thead>
			    					<tbody>
			    					<tr>
			    						<td th:text="${placeOrder.orderDate}"></td>
								    	<td th:text="${'$' + placeOrder.totalPrice}"></td>
								    	<td th:text="${buyerName}"></td>
								    	<td>
				 							<table>
			                            		<tr>
	                                            	<td><a href="#" class="label label-success placeOrder-print-btn" th:data="${placeOrder.id}" id="placeOrder-print-btn" name="placeOrder-print-btn">
						 								<span class="glyphicon glyphicon-download-alt" /></span></a></td>
	                      							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	                                            	<td>
	                                            		<span th:if="${placeOrder.status.name() == 'PLACED'}">
															<a href="#" class="label label-danger placeOrder-cancel-btn" th:data="${placeOrder.id}" id="placeOrder-cancel-btn" name="placeOrder-cancel-btn">
			                      								<span class="glyphicon glyphicon-remove" ></span></a>
														</span>
	                                            		<span th:if="${placeOrder.status.name() != 'PLACED'}"></span>
			                      					</td>
	                                        	</tr>
	                                       </table>
				 						</td>
			    					</tr>
			    					</tbody>
			    				</table>
			    			</td>
		    			</tr>
		    		</thead>
	    			<tbody>
	    			<tr>
	    				<td>
		    				<table>
		    					<tr>
									<td><h4 th:text="${placeOrder.status}"></h4></td>	    					
		    					</tr>
		    					<tr>
		    						<td><h4 th:text="${placeOrder.orderDeliveryDate}? ${placeOrder.orderDeliveryDate}: (${placeOrder.orderShippingDate}? ${placeOrder.orderShippingDate} : ${placeOrder.orderDate})"></h4></td>
		    					</tr>
		    					<tr>
		    						<td><h6>Please check your mailbox.</h6></td>
		    					</tr>
		    					<tr><td><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></td></tr>
		    					<tr th:each="item : ${placeOrder.cartItems}">
		    						<td>
			    						<table><tr>
								    	<td><img th:src="@{'/products/' + ${item.value.product.productNumber} + '.png'}" width="200" height="100"><br/></td>
								    	<td><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
				                        <td>
				                        	<table>
				                          		<tr><td class="max" th:text="${item.value.product.description}">Description</td></tr>
				                          		<tr><td th:text="${'Sold by: ' + item.value.product.seller.lastName + ', ' + item.value.product.seller.firstName}">Price</td></tr>
				                          		<tr><td th:text="${item.value.quantity + ' items each $' + item.value.product.price}">Quantity</td></tr>
				                          		<tr>
				                          			<td>
				                          				<a href="#" th:id="${item.value.product.id}" onclick="manageReview(this.id)" class="label label-success" th:data="${item.value.product.id}">
				                          					<span class="glyphicon glyphicon-pencil" /></span> Write a product review </a>
							 						</td>
							 					</tr>
				                          		<tr>
				                          			<td>
					                          			<div th:id="${'div' + item.value.product.id}" style="display:none">
					                          				<br/>
															<textarea th:id="${'textReview' + item.value.product.id}" name="textReview" rows="4" cols="50"></textarea>
															<br/>
															<a href="#" class="label label-success product-review-btn" th:data="${item.value.product.id}" id="product-review-btn" name="product-review-btn">
							 									<span class="glyphicon glyphicon-ok" /></span> Submit </a>
							 								&nbsp;&nbsp;
							 								<a href="#" th:id="${item.value.product.id}" onclick="manageReview(this.id)" class="label label-danger">
				                      							<span class="glyphicon glyphicon-remove" /></span> Cancel </a>
														</div>
													</td>
												</tr>
				                        	</table>
				                        </td></tr>
				                        <tr><td><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></td></tr>
				                        </table>
			                        </td>
							    </tr>
		    				</table>
	    				</td>
	    			</tr>
				    <tr></tr>
				    </tbody>
	    		</table>
			</fieldset>
			<p></p>
	    </form>
	    <br/><br/>
	    <div>
	    	<a th:href="@{/contShopping}" class="btn btn-default"><span class="glyphicon-hand-left glyphicon"></span> Continue shopping </a>
        </div>
        <br/><br/><br/><br/>
	</div>
</section>

<script>
function manageReview(divId) {
  let divValue = document.getElementById("div" + divId);
  if (divValue.style.display === "none") {
	  divValue.style.display = "block";
  } else {
	  divValue.style.display = "none";
  }
}
</script>

</body>
</html>