<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Online Shopping</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="shortcut icon" th:href="@{/images/ico/favicon.ico}" >
    <link rel="stylesheet" th:href="@{/css/home_product.css}">
    <link rel="stylesheet" th:href="@{/css/vertical_list.css}">
</head>
<body>
<ul>
    <span th:if="${UserRole== null or UserRole.isEmpty()} ">
         <li><a th:href="@{/}">SOKS</a></li>
    </span>
    <span th:unless="${UserRole== null or UserRole.isEmpty()} ">
         <li><a href="#">SOKS</a></li>
    </span>
    <span th:if="${UserRole== null or UserRole.isEmpty()} ">
        <li style="float:right"><a th:href="@{/login}">Login</a></li>
        <li style="float:right"><a th:href="@{/registration(type='buyer')}" >Sign-up</a></li>
    </span>
    <span th:if="${UserRole == 'buyer'}">
        <li style="float:right"><a th:href="@{/shoppingCart(buyerId= ${UserInfo.getUserId()})}">Cart</a></li>
        <li style="float:right"><a th:href="@{/logout}">Logout</a></li>
    </span>
    <span th:if="${UserRole== 'seller'} " >
         <li style="float:right"><a th:href="@{/logout}">Logout</a></li>
    </span>
</ul>

<div>
    <ul class="vertical_list">
        <span th:if="${UserRole== null or UserRole.isEmpty()} ">
        <li th:each="category : ${cats}">
            <a class="vertical_list" th:href="@{/showByCategory(categoryID=${category.id})}" th:text="${category.name}" ></a>
        </li>
        </span>
        <span th:if="${UserRole != null} ">
        <li th:each="category : ${cats}">
            <a class="vertical_list" th:href="@{/showByCategoryLoggedIn(categoryID=${category.id})}" th:text="${category.name}" ></a>
        </li>
        </span>
        <span th:if="${UserRole== null or UserRole.isEmpty()} ">
            <li> <a class="vertical_list" th:href="@{/showByCategory(categoryID=-1)}">All</a></li>
             <br>
        </span>
        <span th:if="${UserRole != null} ">
            <li><a  class="vertical_list" th:href="@{/showByCategoryLoggedIn(categoryID= -1)}" >All</a></li>
        </span>
    </ul>
</div>

<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3" th:each="product : ${products}">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="ProductHeader">
                        <span th:text="${product.name}"></span>
                    </h3>

                    <img th:src="@{'/products/' + ${product.productNumber} + '.png'}" width="200" height="250" class="center"/><br/>
                    <span class="ProdDescription">
                         Description :<span th:text="${product.description}"></span><br/>
                    </span>

                    <span class="Price">
                        Price :$<span th:text="${product.price}"></span><br/>
                    </span>
                    <span class="Seller">
                          Seller :<span th:text="${product.getSeller().getName()}"></span><br/>
                    </span>
                    <span class="Avaliable">
                        Available <span th:text="${product.stockQuantity}"></span> units in stock<br/>
                    </span>

                    <span th:if="${UserRole== null or UserRole.isEmpty()} ">
                        <a th:href="@{/products/productView(id=${product.id})}" class="btn btn-primary glyphicon-info-sign glyphicon"> Details</a>
                    </span>

                    <span th:if="${UserRole== 'buyer'} ">
                        <a th:href="@{/products/product(id=${product.id},buyerid=${buyerId})}" class="btn btn-primary glyphicon-info-sign glyphicon"> Details</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
