<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Shopping Cart</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">

	<style>
	    .re{
	    width:300px;
	    }
	    .max{
	    	width:500px;
	    }
		fieldset {
		  background-color: #eeeeee;
		}
		
		legend {
		  background-color: gray;
		  color: white;
		  padding: 5px 10px;
		}
		
		input {
		  margin: 5px;
		}
	</style>
	    
</head>

<body>

<input type="hidden" id="buyerId" name="buyerId" th:value="${buyerId}" />
<input type="hidden" id="allowPointsPayment" name="allowPointsPayment" th:value="${allowPointsPayment}" />

<ul>
	<li><a href="#">SOKS</a></li>
	<li style="float:right">
		<a th:href="@{/logout}">Logout</a>
	</li>
	<li style="float:right">
		<a th:href="@{/contShopping}">Home</a> |
	</li>
	<li style="float:right">
		<a th:href="@{/buyerOrders(buyerId=${buyerId})}">Your Orders</a> |
	</li>
	<li style="float:right">
		<a th:href="@{/shoppingCart(buyerId=${buyerId})}">Cart</a>
	</li>

</ul>


<section>
    <div class="jumbotron">
        <div class="container">
            <h2>Review Information</h2>
        </div>
    </div>
</section>

<section class="container">
	<div id="global">

	    <form action="#" th:action="@{/placeOrder(buyerId=${buyerId})}" th:object="${preOrderInfo}" method="post">
	    	<table>
				<tr>
					<td>
						<span th:if="@{shippingAddress != null}">
						<fieldset>
							<legend><span th:text="#{shippingAddress.form.title}">Shipping Address</span></legend>
							<h5 th:text="*{shippingAddress.street}"></h5>
							<h5 th:text="*{shippingAddress.city + ', ' + shippingAddress.state + ' ' + shippingAddress.zipCode}"></h5>
						</fieldset>
						</span>
					</td>
					<td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
					<td>
						<fieldset>
							<legend><span th:text="#{billingAddress.form.title}">Billing Address</span></legend>
							<h5 th:text="*{billingAddress.street}"></h5>
							<h5 th:text="*{billingAddress.city + ', ' + billingAddress.state + ' ' + billingAddress.zipCode}"></h5>
						</fieldset>
					</td>
				</tr>
				<tr><td><p>&nbsp;&nbsp;</p></td></tr>
				<tr>
					<td>
						<fieldset>
							<legend><span th:text="#{cardPayment.form.title}">Credit Card Payment</span></legend>
							<h5 th:text="*{'Credit Card ending with ' + cardNumberTruncated}"></h5>
							<h5 th:text="*{'expired in ' + cardPayment.expiryDate}"></h5>
							<h5 th:text="*{'CVV: ' + cardPayment.cvv}"></h5>
							<h5 th:text="*{'Name On Card: ' + cardPayment.nameOnCard}"></h5>
						</fieldset>
					</td>
					<td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
					<td>
						<fieldset>
							<legend><span th:text="#{points.form.title}">Points Payment</span></legend>
							<h5 th:text="*{'Order Total Price: $' + shoppingCart.totalPrice}"></h5>
							<h5 th:text="*{'Points Balance: ' + buyer.points}"></h5>
							<h5 th:text="*{'The required points ' + requiredPoints}"></h5>
							<p>
								<label for="pointsNotification">
									<span id="pointsNotification" th:text="${allowPointsPayment}? 'Points will be deducted from your balance' : 'you are not allowed to use this service'"></span>
								</label> 
							</p>
						</fieldset>
					</td>
					<td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
					<td>
						<fieldset>
							<h4>&nbsp;&nbsp;Please select your payment method</h4>
							<input onclick="myFunction()" type="radio" id="creditCard" name="payment" value="creditCard" checked>
							<label for="creditCard"><span th:text="#{payment.form.creditCard}">Credit Card</span></label> 
							<br/>
							<input onclick="myFunction()" type="radio" id="pointsBalance" name="payment" value="pointsBalance">
							<label for="points"><span th:text="#{payment.form.points}">Points</span></label>
							<br/>
							<input type="hidden" id="paymentType" name="paymentType" th:field="*{paymentType}" />
						</fieldset>
					</td>
				</tr>
			</table>
			<br/><br/>
	    	<div>
				<a th:href="@{/contShopping}" class="btn btn-default"><span class="glyphicon-hand-left glyphicon"></span> Continue shopping </a>
				<!-- <a th:href="@{/placeOrder(buyerId=${buyerId},paymentType=${paymentType})}" class="btn btn-success pull-right"> <span class="glyphicon-shopping-cart glyphicon"></span> Check out</a> -->
				<input class="btn btn-success pull-right" id="submit" type="submit" tabindex="5" value="Place Order">
			</div>

	    </form>
        <br/><br/><br/><br/>
	</div>
</section>

<script>
function myFunction() {
  let allowPoints = document.getElementById("allowPointsPayment").value;
  if (allowPoints==0) {
	  document.getElementById("creditCard").checked = true;
	  document.getElementById("points").checked = false;
  }
  if (document.getElementById("pointsBalance").checked) {
	  document.getElementById("paymentType").value = "pointsBalance";
  }
  else if (document.getElementById("creditCard").checked) {
	  document.getElementById("paymentType").value = "creditCard";
  }
}
</script>

</body>
</html>