<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/home_product.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/vertical_list.css}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/add.js}"></script>
</head>
<body>
<ul>
    <span th:if="${UserRole== null or UserRole.isEmpty()} ">
         <li><a th:href="@{/}">SOKS</a></li>
    </span>
    <span th:unless="${UserRole== null or UserRole.isEmpty()} ">
         <li><a href="#">SOKS</a></li>
    </span>
    <span th:if="${UserRole== null or UserRole.isEmpty()} ">
        <li style="float:right"><a th:href="@{/login}">Login</a></li>
        <li style="float:right"><a th:href="@{/registration(type='buyer')}" >Sign-up</a></li>
    </span>
    <span th:if="${UserRole == 'buyer'}">
        <li style="float:right"><a th:href="@{/shoppingCart(buyerId= ${UserInfo.getUserId()})}">Cart</a></li>
        <li style="float:right"><a th:href="@{/logout}">Logout</a></li>
    </span>
    <span th:if="${UserRole== 'seller'} " >
         <li style="float:right"><a th:href="@{/logout}">Logout</a></li>
    </span>
</ul>
<div>
    <ul class="vertical_list">
        <span th:if="${UserRole== null or UserRole.isEmpty()} ">
        <li th:each="category : ${cats}">
            <a class="vertical_list" th:href="@{/showByCategory(categoryID=${category.id})}" th:text="${category.name}" ></a>
        </li>
        </span>
        <span th:if="${UserRole != null and !UserRole.isEmpty()} ">
        <li th:each="category : ${cats}">
            <a class="vertical_list" th:href="@{/showByCategoryLoggedIn(categoryID=${category.id})}" th:text="${category.name}" ></a>
        </li>
        </span>
        <span th:if="${UserRole== null or UserRole.isEmpty()} ">
            <li> <a class="vertical_list" th:href="@{/showByCategory(categoryID=-1)}">All</a></li>
             <br>
        </span>
        <span th:if="${UserRole != null and !UserRole.isEmpty()} ">
            <li><a  class="vertical_list" th:href="@{/showByCategoryLoggedIn(categoryID= -1)}" >All</a></li>
        </span>
    </ul>
</div>

<section class="container">
    <div class="row">
        <div class="col-md-5">

            <h3 class="ProductHeader">
                        <span th:text="${product.name}"></span>
                    </h3>

            <img th:src="@{'/products/' + ${product.productNumber} + '.png'}" width="200" height="250" class="center"/><br/>
            <span class="ProdDescription">
                         Description :<span th:text="${product.description}"></span><br/>
                    </span>

            <span class="Price">
                        Price :$<span th:text="${product.price}"></span><br/>
                    </span>
            <span class="Seller">
                          Seller :<span th:text="${product.getSeller().getName()}"></span><br/>
                    </span>
            <span class="Avaliable">
                        Available <span th:text="${product.stockQuantity}"></span> units in stock<br/>
                    </span>

            <p>
                <input type="hidden" id="buyerId" name="buyerId" th:value="${buyerId}"/>

                <span th:if="${UserRole} == 'buyer'">
                    <input type="button" name="product-order-btn" id="product-order-btn" value="Add to Cart"  th:data="${product.id}" class="btn btn-success"/>
                </span>

                <span th:if="${following} == false" >
                   <a th:href="@{/products/followSeller(sellerId=${product.seller.userId},buyerid=${buyerId})}"
                      class="btn btn-success btn-large order-btn">
                    <span class="glyphicon glyphicon-heart-empty"></span> Follow Seller </a>
                </span>

                <span th:if="${following} == true" >
                  <a th:href="@{/products/unfollowSeller(sellerId=${product.seller.userId},buyerid=${buyerId})}"
                     class="btn btn-danger btn-large order-btn">
                    <span class="glyphicon glyphicon-thumbs-down"></span> Un-follow Seller</a>
                </span>
            </p>
            <h5>Product Reviews...</h5>
                <div th:each="review : ${reviews}">
                    <div>
                        <span class="BuyerName" th:text="${review.buyer.name}"></span><br/>
                        <span class="BuyerComment" th:text="${review.description}"></span>
                        <hr width="300"/>
                    </div>
                </div>
        </div>
        </div>
    </div>

</section>

</body>
</html>